## Data Load

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
train = pd.read_csv(r'/content/drive/My Drive/Projects/Home Credit Default Risk/train.csv')
test = pd.read_csv(r'/content/drive/My Drive/Projects/Home Credit Default Risk/test.csv')

In [0]:
train.head()

   TARGET NAME_CONTRACT_TYPE  ...  credit_income_ratio  annuity_income_ratio
0     1.0         Cash loans  ...             2.007889              0.121978
1     0.0         Cash loans  ...             4.790750              0.132217
2     0.0    Revolving loans  ...             2.000000              0.100000
3     0.0         Cash loans  ...             2.316167              0.219900
4     0.0         Cash loans  ...             4.222222              0.179963

[5 rows x 78 columns]

In [0]:
# label encoding snippet 
# label encoding will assign numerical values to each object value based on alphabetical order
# eg. A will be encoded as 0, B - 1, C- 2
# Helpful for High Cardinality Data - LightGBM can handle integer categorical fields

from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [0]:
def label_encode(x):
  le.fit(train[x])
  train[x] = le.transform(train[x])
  test[x] = le.transform(test[x])

In [0]:
label_encode('FLAG_OWN_REALTY')

In [0]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [0]:
missing_cols = set( train.columns ) - set( test.columns )

for c in missing_cols:
    test[c] = 0
# Ensure the order of column in the test set is in the same order than in train set
test = test[train.columns]

In [0]:
test.drop(columns = 'TARGET', inplace = True)

In [0]:
from sklearn.model_selection import train_test_split
xtrain, xval, ytrain, yval = train_test_split(train.iloc[:,1:], train['TARGET'], test_size = 0.2, random_state = 42)

## Random Forest

In [0]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators = 1000, random_state = 50, class_weight = 'balanced', n_jobs = -1) #n_jobs = -1 meaning utilize all system resources

In [0]:
# Fit the model
rf_model = random_forest.fit(train.iloc[:,1:], train['TARGET'])

In [0]:
# load submission file
submission = pd.read_csv(r'/content/drive/My Drive/Projects/Home Credit Default Risk/sample_submission.csv')

submission['TARGET'] = pd.DataFrame(random_forest.predict_proba(test))[1]
submission.to_csv('RandomForest_pred.csv',index = False)

In [0]:
# Feature importannce
import seaborn as sns; 
ft_imp = pd.Series(data=rf_model.feature_importances_, index=xtrain.columns).sort_values(ascending=False)[:15]
plt.figure(figsize=(5,5))
plt.title("Feature importance")
ax = sns.barplot(y=ft_imp.index, x=ft_imp.values, palette="Blues_d", orient='h')

## XGBoost

In [0]:
import xgboost as xgb

In [0]:
params = {
    'max_depth': 7, # to control over-fitting, optimal value range: 3-10
    'gamma' :0, # the minimum loss reduction required to make a split, XGB will build the tree first then prune in case of 0 gamma
    'eta':.03, # shrinkage factor, optimal value range: 0.01-0.2
    'subsample': 0.8, # fraction of observations to be randomly samples for each tree, optimal value range: 0.5-1
    'colsample_bytree': 0.8, # fraction of columns to be randomly samples for each tree, optimal value range: 0.5-1
    'scale_pos_weight' : 11.0, # for imbalanced data
    'objective':'binary:logistic', # loss function to be minimized
    'eval_metric':'auc', # metric to be used for validation data
}

In [0]:
def XGBmodel(X_train,X_test,y_train,y_test,params):
    matrix_train = xgb.DMatrix(X_train,label=y_train)
    matrix_test = xgb.DMatrix(X_test,label=y_test)
    model=xgb.train(params=params,
                    dtrain=matrix_train,
                    num_boost_round=500, # number of boosting rounds or trees to build
                    early_stopping_rounds=10, # stop if performance haven’t improved for N rounds
                    evals=[(matrix_test,'test')]
                   )
    return model

In [0]:
# train final model using tuned parameters
xgb_model = XGBmodel(xtrain,xval,ytrain,yval,params)

In [0]:
pred_xgb = xgb_model.predict(xgb.DMatrix(test), ntree_limit = xgb_model.best_ntree_limit).tolist()
submission['TARGET'] = pred_xgb
submission.to_csv('xgb_pred.csv',index = False)